div{display: inline-block;
    border: 5px dotted gray;
    margin: 10px;
    padding: 15px;
}
h2:hover{color: teal;
background-color: chartreuse;
width: 110px;
}
p:hover{
    font-size: 25px;
    border: 3px solid maroon;
    padding: 10px;
    margin: 15px;
    color: mediumaquamarine;
    width: 600px;
    height: 80px;
}
a:hover{color: green;
        background-color: royalblue;
    }
a:visited{color: peru;}
a{
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    margin: 50px;
    background-image: linear-gradient(rgb(255, 208, 0), gold);
    border-radius: 35px;
}
ul li:nth-child(2n+1){font-size: 20px;
    color: blueviolet;
    margin: 5px;
}
ol li:nth-child(n){font-size: 30px;
    color: rgb(87, 34, 136);
    margin: 10px;
    display: inline;
}